body {
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    width: 200px;
    height: 200px;
}

.profiles {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.profile {
    flex-grow: 1;
    padding: 20px;
    margin: 40px;
    margin-top: 0;

    background-color: rgb(238, 238, 238);
    box-shadow: 10px 10px 10px gray;

    height: 600px;
    width: 350px; 

    text-align: center;
}

.menu {
    display: flex;
    position: absolute;
    margin: 0;
    border: none;
    top: 0px;
    left: 0px;
    right: 0px;


    color: white;


}


.home {
    flex-grow: 1;
}

.space {
    flex-grow: 7;
}

.signup {
    flex-grow: 1;
}

.login {
    flex-grow: 1;
}

h1 {
    margin-top: 120px;
    text-align: center;
}

button {
    border: none;
    margin: 0;
    padding: 30px;
    color: white;
    background-color: purple;

    font-size: 20px;

}

.space:hover {
    background-color: purple;
}

.space:active {
    background-color: purple;
}

button:hover {
    background-color: rgb(151, 33, 151);
}

button:active {
    background-color: rgb(177, 59, 177);
}

p {
    line-height: 27px;
}