<body class="about">
    <h1>About Us</h1>
    <div class="profiles"> 
        <div class="profile">
            <img class="pfp">
            <h2>Angel</h2>
            <hr>
            <p>
                Third year Computer Science major. First Year at CSUF. 
                Took two years at Fullerton Community College before transferring. 
            </p>
            <hr>
            <footer>
                <h3>Contact Info</h3>
                <p>angelpenlza@csu.fullerton.edu</p>
                <p>(657)-456-4664</p>
            </footer>
        </div>
        <div class="profile">
            <img class="pfp">
            <h2>John</h2>
            <hr>
            <p>
                info
            </p>
            <hr>
            <footer>
                <h3>Contact Info</h3>
                <p>email</p>
                <p>number</p>
            </footer>
        </div>
        <div class="profile">
            <img class="pfp">
            <h2>Kingston</h2>
            <hr>
            <p>
                info
            </p>
            <hr>
            <footer>
                <h3>Contact Info</h3>
                <p>email</p>
                <p>number</p>
            </footer>
        </div>
        <div class="profile">
            <img class="pfp">
            <h2>Tonirose</h2>
            <hr>
            <p>
                Fourth year Computer Science major.
            </p>
            <hr>
            <footer>
                <h3>Contact Info</h3>
                <p>tonirosevirata@gmail.com</p>
                <p>(626)814-7089</p>
            </footer>
        </div>
    </div>
</body>
</html>