<div class="header">
  Create a date
</div>
<div class="board" array key="boards" sortable="boards">
  {{#for board in boards}}
  <div object key:board-heading="@search" default:board-heading="A Project">
    <p class="header__text" target:board-heading="@innerText">{{default
      board.boardHeading}}</p>
    {{/for}}
    <a class="button button--add-stack" href="/{{currentUser.details.username}}/calendar">Edit</a>
  </div>
</div>