<div class="header">
    <div class="board" array key="boards" sortable="boards">
        {{#for board in boards}}
        <div object key:board-heading="@search" default:board-heading="A Project">
            <div>
                <p class="header__text" target:board-heading="@innerText" edit:board-heading>{{default
                    board.boardHeading}}</p>
            </div>
            <div class="board-container">
                <div class="board" array key="stacks" sortable="stacks">
                    {{#for stack in board.stacks}}
                    <div class="stack" object key:stack-heading="@search" default:stack-heading="A Project">
                        <div class="stack__top">
                            <p class="stack__text" target:stack-heading="@innerText" edit:stack-heading>{{default
                                stack.stackHeading
                                "New
                                stack item"}}</p>
                            <button class="stack__add-card" new:card>
                                <img class="stack__new-icon" src="/assets/images/new.svg">
                                <p>Add list</p>
                            </button>
                        </div>
                        <div class="stack__list" key="cards" array sortable="cards">
                            {{#for card in stack.cards}}
                            <div class="card" object key:card-text="@search" edit:card-text>
                                <p class="card__text" target:card-text="@innerText">{{default card.cardText "New card
                                    item"}}</p>
                                <img class="card__drag" src="/assets/images/drag.svg">
                            </div>
                            {{/for}}
                        </div>
                    </div>
                    {{/for}}
                </div>
            </div>
        </div>
        {{/for}}
    </div>
</div>