/* Basic CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button {
  display: inline-block;
  height: 36px;
  padding: 0 12px;
  line-height: 36px;
  color: black;
  font-size: 14px;
  text-align: center;
  background-color: bisque;
  border-radius: 5px;
}

.button--large {
  height: 42px;
  padding: 0 16px;
  font-size: 16px;
  line-height: 42px;
}

.button--account {
  margin-top: 1rem;
}

.button--plus-square {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  margin-left: auto;
  line-height: normal;
  padding: 0;
}

.button--edit-board {
  margin-left: 1.25rem;
  background-color: burlywood;
  color: white;
}

.button--remove-board {
  margin-left: 1.25rem;
  background-color: brown;
  color: white;
}

.button--add-board {
  margin-left: 1.25rem;
  width: 50%;
}

.button:hover {
  cursor: pointer;
  opacity: 0.5;
}

body {
  overflow-x: hidden;
  height: 100vh;
  font-family: "Work Sans", sans-serif;
}

/* Styling Dark Mode */
.dark-mode .button {
  color: white;
  background-color: #bb86fc;
}

.dark-mode .button--edit-board {
  background-color: #bb86fc;
  color: black;
}

.dark-mode .button--remove-board {
  background-color: #3700b3;
  color: black;
}