.container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
}

.header__text {
  font-size: 30px;
  color: black;
  display: inline-block;
  margin-left: 1rem;
  margin-top: 2rem;
  padding-bottom: 2.5rem;
  width: 200px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.drag {
  cursor: grab;
}

.helper {
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
}


.board-container {
  flex-grow: 1;
  position: relative;
  flex-direction: row;
}

.board {
  top: 0;
  right: 1rem;
  bottom: 0;
  left: 0;
  overflow-x: auto;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  flex-direction: row;
}

.stack {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  width: auto;
  height: 100%;
  margin-left: 1rem;
  margin-bottom: 0.75rem;
}

.stack__top {
  width: 175px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding-right: 4rem;
  color: black;
  text-align: center;
  padding-top: 1.5rem;
}

.stack__text {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 0.5rem;
}


.stack__new:hover {
  cursor: pointer;
  opacity: 0.5;
}

.stack__new-icon {
  position: relative;
  top: -1px;
  padding-right: 0.5rem;
}

.stack__list {
  padding: 0 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: whitesmoke;
  border-radius: 5px 5px 0 0;
  display: flex;
}



.stack__add-card {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 41px;
  border: 2px dashed #DCE0E4;
  border-radius: 5px;
  background-color: bisque;
  margin-left: auto;
  margin-right: auto;
}

.stack__add-card:hover {
  cursor: pointer;
  background-color: tan;
}

.stack__add-card-icon {
  margin-right: 0.5rem;
}

.card {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  background-color: #FFF;
  border-radius: 5px;
  color: black;
  margin: 15px;
  box-shadow: 0px 4px 10px bisque;
}

.card:hover {
  cursor: pointer;
  background-color: blanchedalmond;
}

.card:nth-child(1) {
  margin-top: 15px;
}

.card__text {
  flex-shrink: 1;
  margin: 1rem 0.25rem 1rem 1rem;
  line-height: 1.4em;
  width: 200px;
}

.card__drag {
  flex-shrink: 0;
  margin-left: auto;
  margin-right: 0.25rem;
  padding: 1rem;
  cursor: grab;
}

.board::-webkit-scrollbar {
  width: 20px;
  height: 25px;
}

.stack__list::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

/* Track */
.board::-webkit-scrollbar-track {
  background: #FFF !important;
}

.stack__list::-webkit-scrollbar-track {
  background: #F2F6FA !important;
  border-radius: 5px;
}

/* Handle */
.board::-webkit-scrollbar-thumb {
  background: #DAD9DE;
  border-radius: 30px;
  box-sizing: border-box;
  border: 8px solid #FFF;
}

.stack__list::-webkit-scrollbar-thumb {
  background: #DAD9DE;
  border-radius: 30px;
  box-sizing: border-box;
  border: 5px solid #F2F6FA;
}

/* Handle on hover */
.board::-webkit-scrollbar-thumb:hover,
.stack__list::-webkit-scrollbar-thumb:hover {
  background: #DAD9DE;
}

@media only screen and (max-width: 658px) {
  body {
    overflow: auto;
  }

  .board {
    position: static;
    display: block;
    overflow: auto;
  }

  .stack {
    display: block;
    height: auto;
    width: 100%;
    margin-bottom: 2rem;
    overflow: auto;
  }

  .stack__list {
    overflow-y: auto;
  }
}

.event__time {
  margin-left: 1em;
}