.logo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.logo__image {
  display: inline-block;
  vertical-align: middle;
}

.logo__text {
  margin-left: 4px;
  font-weight: 500;
}


.logo:hover {
  transition: all 0.4s ease 0s;
  color: #ffee10;
  text-shadow: 0 0 5px #ffee10;
}

.nav {
  flex-shrink: 0;
  display: flex;
  height: 72px;
  background-color: tan;
  color: black;
}

.nav__user {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 1rem;
}

.nav__user .user__name {
  color: black;
  font-weight: bolder;
}

.nav__user .user__name:hover {
  color: aliceblue;
  cursor: default;
}

.nav__button {
  margin-left: 1rem;
  width: 90px;
  height: 46px;
  line-height: 46px;
  background-color: bisque;
  border-radius: 5px;
  text-align: center;
}

.nav__button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 48px;
  width: 100%;
  background-color: tan;
  color: black;
}

.footer_about_us {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.about_us_button {
  color: black;
  font-weight: bolder;
}